#calc_dis {
    width: 100%;
    min-height: 491px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#calc_text {
    width: 98%;
    height: 70px;
    margin: 40px auto 0 auto;
    text-align: center;
}

#calc_header {
    font-size: 50px;
    text-shadow: 1px 1px grey;
}

#whole_calc {
    width: 98%;
    height: 600px;
    margin: auto;
    display: flex;
}

#calc_outline {
    width: 45%;
    height: 500px;
    margin: auto;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#text_field {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding: 5px 20px;
    text-align: end;
    border-bottom: 2px solid black;
    font-size: 55px;
    line-height: 80px;
}

#btn_field {
    width: 100%;
    height: 408px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.number_btn {
    width: 23%;
    height: 65px;
    margin: auto;
    text-align: center;
    line-height: 65px;
    background-color: darkgrey;
    color: rgb(0, 216, 255);
    border-radius: 15px;
    font-size: 30px;
}

#big_btn {
    width: 48%;
    height: 65px;
    margin: auto;
    text-align: center;
    line-height: 65px;
    background-color: darkgrey;
    color: rgb(0, 216, 255);
    border-radius: 15px;
    font-size: 30px;
}

.operator_btn {
    width: 23%;
    height: 65px;
    margin: auto;
    text-align: center;
    line-height: 65px;
    background-color: grey;
    color: rgb(21, 255, 0);
    border-radius: 15px;
    font-size: 30px;
    font-weight: bold;
}

.number_btn:hover {
    cursor: pointer;
    font-size: 45px;
    font-weight: bolder;
}

#big_btn:hover {
    cursor: pointer;
    font-size: 45px;
    font-weight: bolder;
}

.operator_btn:hover {
    cursor: pointer;
    font-size: 45px;
    font-weight: bolder;
}