#home_view {
    margin: 0 auto;
    width: 99%;
    min-height: 491px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#home_banner {
    width: 98%;
    margin: 15px auto;
    text-align: center;
    font-size: 45px;
    cursor: default;
}

#home_banner span:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgb(0, 216, 255);
}

#home_message {
    width: 60%;
    height: 85px;
    margin: 50px auto;
    text-align: center;
    font-size: 15px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 8px;
}

#home_message:hover {
    cursor: default;
}

#home_message div {
    width: 98%;
    margin: 2px auto 0 auto;
}

#home_divider {
    width: 98%;
    height: 6px;
    background-color: black;
    border: none;
}

#knicks_view {
    width: 38%;
    margin: 50px auto;
}

#fuzzBuzz_view {
    width: 85%;
    margin: auto;
    min-height: 300px;
    border: 3px solid lightgreen;
    border-radius: 15px;
}

#fuzzBuzz_header {
    width: 98%;
    margin: 10px auto;
    text-align: center;
    font-size: 18px;
}

#fuzzBuzz_directions {
    width: 90%;
    margin: 10px auto;
    text-align: center;
    font-size: 12px;
}

#fuzzBuzz_divider {
    width: 96%;
    height: 2px;
    border: none;
    background-color: black;
}

#fuzzBuzz_selection {
    width: 98%;
    margin: 20px auto;
}

#fuzzBuzz_selection form {
    width: 98%;
    margin: auto;
}

#fuzzBuzz_input {
    height: 27px;
    width: 45%;
    margin: 0 10px;
    border: none;
    border-left: 2px solid rgb(0, 216, 255);
    border-right: 2px solid rgb(0, 216, 255);
    border-radius: 5px;
    padding: 0 5px;
}

.fuzz_btn {
    padding: 0;
    height: 28px;
    width: 19%;
    margin: auto 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 216, 255);
}