#home_view {
    margin: 0 auto;
    width: 99%;
    min-height: 491px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#home_banner {
    width: 90%;
    height: 80px;
    line-height: 70px;
    margin: 15px auto;
    text-align: center;
    text-shadow: 1px 1px grey;
    font-size: 45px;
    cursor: default;
    border-bottom: 3px solid black;
}

#home_banner span:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgb(0, 216, 255);
}

#home_message {
    width: 98%;
    height: 88px;
    margin: 0 auto 10px auto;
    text-align: center;
    font-size: 15px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 8px;
}

#home_message:hover {
    cursor: default;
}

#home_message div {
    width: 98%;
    margin: 2px auto 0 auto;
}

#challenge_view {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: row;
}

#smChallenge_view {
    width: 55%;
    min-height: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

#fuzzBuzz_view {
    width: 35%;
    margin: 20px auto;
    min-height: 300px;
    border: 3px solid lightgreen;
    border-radius: 15px;
}

#fuzzBuzz_header {
    width: 98%;
    margin: 10px auto;
    text-align: center;
    font-size: 25px;
}

#fuzzBuzz_directions {
    width: 90%;
    margin: 10px auto;
    text-align: center;
    font-size: 14px;
}

#fuzzBuzz_divider {
    width: 96%;
    height: 2px;
    border: none;
    background-color: black;
}

#fuzzBuzz_selection {
    width: 98%;
    margin: 20px auto;
}

#fuzzBuzz_selection form {
    width: 98%;
    margin: auto;
}

#fuzzBuzz_input {
    height: 27px;
    width: 45%;
    margin: 0 10px;
    border: none;
    border-left: 2px solid rgb(0, 216, 255);
    border-right: 2px solid rgb(0, 216, 255);
    border-radius: 5px;
    padding: 0 5px;
}

.fuzz_btn {
    padding: 0;
    height: 28px;
    width: 19%;
    margin: auto 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 216, 255);
    cursor: pointer;
}

#fuzz_list {
    width: 90%;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fuzz_listItem {
    list-style: none;
    width: 33.33%;
    height: 30px;
    margin: 5px 0;
    line-height: 30px;
    font-size: 20px;
    text-shadow: 1px 1px grey;
}

#date_view {
    width: 98%;
    min-height: 100px;
    margin: 10px auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 8px;
}

#todaysDate {
    text-align: center;
    font-size: 35px;
    cursor: default;
}

#birth_form {
    width: 70%;
    margin: 15px auto;
    text-align: center;
    font-size: 20px;
    cursor: default;
}

#birth_form span {
    font-size: 15px;
}

.birthInput {
    border: none;
    border-bottom: 1px solid black;
    width: 30px;
    margin: 0 5px 0 0;
    padding: 0;
    outline: none;
    font-size: 15px;
    text-align: center;
}

#birth_btn {
    padding: 0;
    height: 27px;
    width: 80px;
    margin: auto 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 216, 255);
    cursor: pointer;
}

#birth_results {
    width: 98%;
    margin: 0 auto;
    text-align: center;
}

#text_view {
    width: 98%;
    min-height: 125px;
    margin: 10px auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 8px;
}

#counter_title {
    width: 98%;
    margin: auto;
    font-size: 35px;
    text-align: center;
    cursor: default;
    text-shadow: 1px 1px grey;
}

#text_area {
    max-width: 90%;
    min-width: 90%;
    margin: 10px 5% 0 5%;
    font-size: 18px;
}

#text_counter {
    width: 50%;
    height: 30px;
    line-height: 30px;
    margin: 10px auto;
    font-size: 25px;
    text-align: center;
}