button {
    font-family: PT Serif;
}

#back_img {
    width: 100vw;
    height: 100vh;
    background-image: url('../Images/landing.png');
    background-repeat: no-repeat;
    background-size: 1280px 725px;
    overflow: -moz-hidden-unscrollable;
}

#landing_view {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}

#welcome_header {
    font-size: 6vh;
}

#welcome_message {
    margin-top: 7vh;
    font-size: 3vh;
    line-height: 5vh;
}

#btn_group {
    margin: 7vh auto;
    width: 98%;
    display: flex;
    justify-content: space-around;
}

#login_btn {
    border: none;
    background-color: inherit;
    font-size: 4.5vh;
    color: whitesmoke;
}

#register_btn {
    border: none;
    background-color: inherit;
    font-size: 4.5vh;
    color: whitesmoke;
}

#login_btn:hover {
    cursor: pointer;
    text-decoration: underline;
    color: greenyellow;
}

#register_btn:hover {
    cursor: pointer;
    text-decoration: underline;
    color: greenyellow;
}

/* Media 1025px and larger */
@media (min-width: 1025px) {
    #landing_view {
        top: 50%;
        width: 75vw;
        height: 60vh;
    }
}

/* Media range of 769px - 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    #landing_view {
        top: 50%;
        width: 83vw;
        height: 60vh;
    }

    #back_img {
        background-size: 1024px 575px;
    }
}

/* Media range of 426px - 768px */
@media (min-width: 426px) and (max-width: 768px) {
    #landing_view {
        top: 45%;
        width: 85vw;
        height: 60vh;
    }

    #back_img {
        background-size: 768px 550px;
    }
}

/* Media range of 376px - 425px */
@media (min-width: 376px) and (max-width: 425px) {
    #landing_view {
        top: 36%;
        width: 85vw;
        height: 50vh;
    }

    #back_img {
        background-size: 550px 575px;
        background-position: center;
    }
}

/* Media range of 321px - 375px */
@media (min-width: 321px) and (max-width: 375px) {
    #landing_view {
        top: 32%;
        width: 89vw;
        height: 50vh;
    }

    #back_img {
        background-size: 550px 575px;
        background-position: center;
    }
}

/* Media 320px and smaller */
@media (max-width: 320px) {
    #landing_view {
        top: 30%;
        width: 90vw;
        height: 50vh;
    }

    #back_img {
        background-size: 550px 575px;
        background-position: center;
    }
}