#nav_view {
    background-color: lightgray;
    width: 100%;
    height: 80px;
    top: 0;
    display: flex;
    flex-direction: row;
}

#nav_list {
    width: 40%;
    height: 80px;
    text-align: center;
    padding: 0;
    margin: auto;
    display: flex;
    align-items: center;
}

.nav_item {
    list-style: none;
    cursor: default;
    margin: 0 12px 0 12px;
}

.nav_item a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav_item a:hover {
    color: lightcoral;
    text-decoration: underline;
    cursor: pointer;
}

.nav_item button {
    font-size: 20px;
    width: 150px;
    padding: 2px;
    background-color: rgb(0, 216, 255);
    ;
    color: black;
    border: none;
    border-radius: 25px;
}

.nav_item button:hover {
    color: rgb(0, 216, 255);
    ;
    background-color: black;
    cursor: pointer;
}

.nav_title {
    width: 26%;
    height: 80px;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    cursor: default;
}

.nav_title span:hover {
    cursor: pointer;
    text-decoration: underline;
    color: lightcoral;
}

#logout_icon {
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logout_icon img {
    height: 40px;
    width: 40px;
}

#logout_icon img:hover {
    cursor: pointer;
}

#dropdown_view {
    width: 600px;
    height: auto;
    background-color: rgb(0, 216, 255);
    position: absolute;
    top: 80px;
    left: 400px;
    border-radius: 25px;
}

#dropdown_list {
    padding: 0;
}

.dropdown_item {
    width: 90%;
    list-style: none;
    margin: 5px auto;
}

.dropdown_item a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.dropdown_item a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#contact_view {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 40vw;
    height: 225px;
    border: 3px solid lightskyblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
}

#contact_header {
    margin-top: 10px;
    font-size: 30px;
}

.contact_message {
    width: 65%;
    margin: 5px auto;
    font-size: 16px;
}

.contact_message:hover {
    cursor: default;
    text-decoration: underline;
    font-size: 20px;
}

#contact_btn {
    width: 50%;
    margin: auto;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
}

#contact_btn:hover {
    color: black;
    background-color: lightskyblue;
    cursor: pointer;
}

#contact_iconList {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 10px auto 5px auto;
}

.contact_icon a:hover {
    cursor: pointer;
}

.fa-xl {
    color: lightskyblue;
}