#reg_view {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 40vw;
    height: 475px;
    border: 3px solid black;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: inherit;
}

#reg_directions {
    width: 90%;
    margin: auto;
}

#reg_header {
    font-size: 45px;
}

.form_field {
    border: none;
    border-bottom: 1px solid darkgray;
    outline: none;
    font-size: 18px;
    width: 90%;
    margin-top: 20px;
    padding: 0;
}

.form_field:nth-child(1) {
    width: 43%;
    margin-right: 2%;
}

.form_field:nth-child(2) {
    width: 43%;
    margin-left: 2%;
}

.form_field:nth-child(3) {
    width: 65%;
    margin-right: 2%;
}

.form_field:nth-child(4) {
    width: 21%;
    margin-left: 2%;
}

#form_btn {
    margin: 25px auto 0 auto;
    width: 75%;
    border: none;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 25px;
}

#form_btn:hover {
    cursor: pointer;
    background-color: lightgreen;
    color: black;
}

#reg_options {
    margin: 30px auto 20px auto;
}

#reg_options a {
    color: black;
}

#reg_options a:hover {
    cursor: pointer;
    color: blueviolet;
}

#info_view {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 73%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 40vw;
    height: 475px;
    border-left: 3px solid black;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: inherit;
}

#register_view {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 40vw;
    height: 450px;
    border: 3px solid rgb(0, 216, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
}

#register_header {
    margin-top: 10px;
    font-size: 40px;
}

#register_message {
    width: 80%;
    margin: 10px auto;
    font-size: 20px;
}

#register_submessage {
    width: 80%;
    margin: 5px auto;
    font-size: 14px;
}

#register_submessage a {
    color: rgb(0, 216, 255);
    text-decoration: none;
}

#register_submessage a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#loading_image img {
    width: 60%;
    height: 200px;
}

#pass_view {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 40vw;
    height: 200px;
    border: 3px solid lightcoral;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
}

#pass_header {
    margin-top: 10px;
    font-size: 30px;
}

#pass_message {
    width: 70%;
    margin: 10px auto;
    font-size: 15px;
}

#pass_btn {
    width: 50%;
    margin: auto;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
}

#pass_btn:hover {
    color: black;
    background-color: lightcoral;
    cursor: pointer;
}

#info_text {
    margin-left: 10%;
}

/* Media 1025px and larger */
@media (min-width: 1025px) {}

/* Media range of 769px - 1024px */
@media (min-width: 769px) and (max-width: 1024px) {}

/* Media range of 426px - 768px */
@media (min-width: 426px) and (max-width: 768px) {}

/* Media range of 376px - 425px */
@media (min-width: 376px) and (max-width: 425px) {}

/* Media range of 321px - 375px */
@media (min-width: 321px) and (max-width: 375px) {}

/* Media 320px and smaller */
@media (max-width: 320px) {}