#whole_tbd {
    width: 100%;
    min-height: 491px;
    display: flex;
}

#tbd_text {
    width: 98%;
    height: 350px;
    margin: auto;
    text-align: center;
}

#tbd_header {

    font-size: 50px;
}

#tbd_message {
    font-size: 30px;
    width: 80%;
    margin: 30px auto;
}